@charset "utf-8";

#noticia1 {
	width: 1150px;
	height: 300px;
    background-color: #000000;
    padding-top: 4px
}

#noticia1 #descripcion, #foto{
    background-color:#eeeda5;
	width: 573px;
    height: 300px;
	display: inline-block;
}

#foto{
    background-color:#000000;
}

#titulosdelindex {
	color: #66130d;
    font-family: 'Times New Roman', Times, serif;
	font-size: 27px;
	float: left;
    text-align: center;
	padding: 20px 195px;
}

h2 {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
	font-size: 25px;    
	float: left;
	text-align: center;
}



p {
	color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 22px;
	float: left;
	text-align: center;
    padding: 15px;
}
